.navbar {
    background-color: #34495e;;
    padding: 1rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-brand {
    color: #adbed6;
    text-decoration: none;
}

.navbar .nav-menu {
    list-style: none;
    display: flex;
}

.navbar .nav-menu li {
    margin: 0 1rem;
}

.navbar .nav-menu a {
    color: #fff;
    text-decoration: none;
}

.navbar .logout {
    color: #4654f4;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}