<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="
                http://www.springframework.org/schema/security
                https://www.springframework.org/schema/security/spring-security.xsd
                http://www.springframework.org/schema/beans
                https://www.springframework.org/schema/beans/spring-beans.xsd">


    <http>
        <session-management>
            <concurrency-control max-sessions="1" expired-url="/login?expired=true"/>
        </session-management>
        <form-login login-page="/login" default-target-url="/home" authentication-failure-url="/login?error=true" />
        <logout logout-url="/logout" logout-success-url="/login?logout=true" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/register" access="permitAll"/>
    </http>

    <beans:bean id="userDetailsService" class="org.example.assuranceapp.service.serviceImplementation.CustomUserDetailServiceImpl" />
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>




</beans:beans>
